@{ 
    ViewData["Title"] = "Editar Usuario";
}

@model Usuario

<h1>@ViewData["Title"]</h1>
<form asp-controller="Usuario" asp-action="editarUsuarioFromForm" method="post">
    <input hidden asp-for="@Model.Id">
    <div class="form-group">
        <label asp-for="@Model.NombreUsuario"></label>
        <input asp-for="@Model.NombreUsuario" class="form-control" id="nombre" />
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>